<h1>Pokédex (<%= @pokemons.count %>)</h1>

<%= link_to "Trainers >", trainers_path %>

<h1>Search for a pokemon</h1>
<%= simple_form_for :search, url: pokemons_path, method: :get do |f| %>
  <%= f.input :query %>
  <%= f.submit "Search" %>
<% end %>

<%= link_to "Random pokemon", pokemon_path(@pokemons.sample) %>

<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <%= link_to pokemon.name, pokemon_path(pokemon) %><%= cl_image_tag pokemon.photo.key %>
      <%= pokemon.element_type %>
    </li>
  <% end %>
</ul>
