<h1><%= @pokemon.name %></h1>

<%= link_to "< Pokédex", pokemons_path %>

<h4>You hear a rustle in the tall grass... A wild Pokémon appears!</h4>

<%= cl_image_tag @pokemon.photo.key, width: 250 %>
<%= @pokemon.name %>
<%= @pokemon.element_type %>

<h1>Trainers :
  </ul>
    <% @pokemon.trainers.each do |trainer| %>
      <li><%= trainer.name %></li>
    <% end %>
  <ul>
</h1>

<%# Pokeball form %>
<%= simple_form_for [@pokemon, @pokeball] do |f| %>
  <%= f.association :trainer %>
  <%= f.input :location, collection: ["Vermilion City", "Cerulean City", "Pewter City", "Saffron City", "Celadon City", "Cinnabar Island", "Fuchsia City"] %>
  <%= f.input :caught_on %>
  <%= f.submit %>
<% end %>
