<h1>Let's Get Training!</h1>

<%= link_to "< Pokédex", pokemons_path %>

<ul>
  <% @trainers.each do |trainer| %>
    <%= link_to trainer_path(trainer) do %>
      <li>
        <%= cl_image_tag(trainer.photo.key) %>
        <%= trainer.name %>
        <%= trainer.age %>
      </li>
    <% end %>
  <% end %>
</ul>
